include LICENSE.txt
include README.rst
include requirements/base.in
recursive-include dbt_schema_builder *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py *.tpl *.yml
include requirements/constraints.txt
